<div class="col-md-12">
  <div class="jumbotron">  
    <h1>Welcome to EHN Eclipse</h1>
    <p>An application brought to you by Electronic Health Network.</p>
    <p>Give us your feedback about the application by clicking the button below:<p>
    <p><%= link_to "Share your Thoughts", root_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
</div>
