<p id="notice"><%= notice %></p>

<h1>Calendar</h1>

                                                   


<br>




<%= link_to 'New Event', new_event_path, class: 'btn btn-s btn-primary' %>

<br>
<br>
<br>
  
<div id="calendar"></div>