<h1>New Referral</h1>

<%- if params[:formtype] == "normal" %>
  <%= render 'form', patient: @patient %>
<%- elsif params[:formtype] == "2" %>
  <%= render 'form2', patient: @patient %>
<%- end %>

<%= link_to 'Back', referrals_path %>
